.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
  margin-bottom: 1em;
}

.App-title-sub {
 font-size: 2em;
 margin-bottom: 1em;
 line-height: 1.2em
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  height: 45vh;
  background-image:  linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)
    );
    background-size: cover;
    background-position: top;

    /* clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%); */
    position: relative;

}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 20px;
}

.heading-primary-sub {
  margin-top: 20px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 10px;
}

.instruction {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.instruction-title {
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
  font-size: 30px;
  font-weight: 400;
  color: steelblue;
}

.instruction-steps {
  transform: translateX(50%);
  width: 50%;
  margin-top: 30px;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  color: slategrey;
  text-align: left;
}
