.action {

  @media only screen and (max-width: $bp-smallest) {
    padding: 0 2rem;
  }

  &_avt {
    width: 6rem;
    border-radius: 3rem;
    margin-right: 2rem;
  }

  &_text-box {
    text-decoration: uppercase;

    &-primary {
      font-size: 2rem;
    }
  }
}
